/* tutorViewQuestions.css */

.display-wrapper {
    display: flex;
    width: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.display-inner {
    width: 600px;
    padding: 40px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

