

body {
    background-color: #fbfbfb;
}

@media (min-width: 992px) {
    .sidebar {
        height: unset !important;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    width: 240px;
    /* z-index: 600; */
}

@media (max-width: 1024px) and (max-height: 646px) {
.sidebar.show {
    height: 100vh;
}
}

@media (max-width: 992px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.totalUser-wrapper {
    display: flex;
    justify-content: right;
    flex-direction: row;
    text-align: left;
    background-color: #ffffff;
    /* grid-template-columns: 20rem auto; */
}

.totalUser-inner {
    display: flex;
    margin: auto;
    background: #545859;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 10px 55px 10px 55px;
    border-radius: 15px;
    transition: all 0.3s;
}

.card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}


.profileDetails-wrapper {
    position: absolute;
        right: 0;
        width: 420px;
        height: 400px;
        border: 3px solid blue;
}

.profileDetails-inner {
    width: auto;
    margin: auto;
    background: #551111cb;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 10px 25px 15px 25px;
    border-radius: 15px;
    transition: all 0.3s;

}


.chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}